body {
  border: solid 3px rgb(160, 160, 160);
  padding: 30px;
  margin: 10px;
  background-color: rgb(236, 236, 236);
}

img.info {
  height: 400px;
  width: auto;
}

button {
  padding: 15px 20px;
  border: solid white 2px;
  background-color: teal;
  border-radius: 8px;
  cursor: pointer;
  text-decoration: none;
  color: white;
}

button.top {
  float: right;
}

button:hover {
  background-color: white;
  border: solid teal 2px;
  color: teal;
}

div.center {
  text-align: center;
}
